<div class = "container">
  
    <div id = "title">
      <h1>Happiness</h1>
    </div>
    <div class = "description">
      <h1>Happinessとは</h1>
        <p>Happinessは日々のちょっとした幸せを投稿できるアプリです</p>
        <p>ちょっとした幸せを共有して、毎日の暮らしを少しだけ素敵に</p>
        <p>あなたの幸せ、投稿してみませんか？</p>
    </div>
 
</div>